
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    min-width: 250px;
    max-width: 800px;
    margin-top: 5.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    font-family: "Helvetica", "Open Sans", sans-serif;
    color: #067096;

    background-color: rgba(189, 189, 189, 0.822);
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;

    #main{
    display: flex;
    border: 1px solid black;
    min-width: 25%;
    max-width: 100%;
    min-height: 100px;
    max-height: 300px;
    
        .userImg {
            display: flex;
            border: 1px solid black;
            width: 70%;
            height: 100%;
            justify-content: center;
            margin-top: 25px;
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-width: 45%;
                max-height: 45%;
                border: 1px solid red;
            }
        }
        .usrInfo{
            // border: 1px solid black;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 10px;
            text-align: center;

            .userName{
                display: flex;
                flex-direction: row;
                width: auto;
                height: auto;
                min-height: 10px;

                #fullName{
                    border: 1px solid black;
                    width: 70%;
                    font-size: 20px;
                }
                #tag{
                    border: 1px solid black;
                    width: 40%;
                    min-width: 20%;
                    max-width: 30%;
                    padding-top: 5px;
                    font-size: 12px;
                }
                // align-content: flex-end;
            }

            .usrBio {
                font-size: 12;
                width: 100%;
                max-height: 300px;
                min-height: 100px;
                border: 1px solid black;
            }
        }
    }

    .userStats{
        margin: 10px;
        width: 100%;
        table {
            text-align: left;
            border: 1px solid black;
            width: 100%;
            height: 40px;
        }
        
        td {
            border: 1px solid black;
            padding: 2px;
            width: 50%
            
        }
    }

    .editButtons{
        display: flex;
        border: 1px solid black;
        width: 100%;
        .spacer {
            width: 60%
        }
        
        button {
            width: 20%;
            padding: 5px;
            font-size: 12px;
            padding: 5px 20px;
            margin: 10px;
            border: 0;
            background-color: #067096;
            color: #fff;
            border-radius: 3px;
            transition: all 250ms ease-in-out;
            cursor: pointer;
            &:hover {
                background-color: #fcfcfcf3;
                color: #5CCAF2;
            }
            &:focus {
                outline: none;
            }
        }
    }
    
}