body {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Helvetica", "Open Sans", sans-serif;
  color: #067096;
  margin-top:1.5em;
  background: url("../images/307\ background.jpg"); //specifies where background image from login page is coming from
}

.sidenav---sidenav---_2tBP {
  background-color: red;
}

//Landing Page Main Container
.landing {
  width: 27em;
  height: 40em;
  //min-height: 44em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5em;
  position: relative;
  z-index: 99;
  margin-top: 300px;

  .container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(189, 189, 189, 0.822);
    box-shadow: 0px 0px 12px 2px rgba(15, 15, 15, 0.2);
    border-radius: 4px;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 75%;
    z-index: 99;
    padding: 17px 10px;
  }
}

input.error {
  border-color: red;
}

.input-feedback {
  color: rgb(235, 54, 54);
  margin-top: -15px;
  font-size: 14px;
  margin-bottom: 20px;
}

//Button
.btn {
  font-size: 21px;
  padding: 5px 20px;
  margin: 10px;
  border: 0;
  background-color: #067096;
  color: #fff;
  border-radius: 3px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #fcfcfcf3;
    color: #5CCAF2;
  }
  &:focus {
    outline: none;
  }
}